# Manipulate using a list:
    1- To add new elements to the end of the list.
    2- To reverse element of the list.
    3- To display the same list of the element multiples times.
    4- To concatenate two list.
    5- To sort the element in the list in asecnding order.

In [37]:
#To add new elements to the end of the list

list = [1, 2, 3]  
element = 4
list.append(element)
print(list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [36]:
#To reverse element of the list.
list.reverse()
print(list)

[4, 3, 2, 1]

In [39]:
#To display the same list of the element multiples times.
a = list*4
print(a)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [53]:
#To concatenate two list.
list1 = [1,2,10,9,5]
list2 = [6,5,3,9,4,80,100]
con = list1+list2
print(con)

[1, 2, 10, 9, 5, 6, 5, 3, 9, 4, 80, 100]

In [54]:
#To sort the element in the list in asecnding order.
con.sort()
print(con)

[1, 2, 3, 4, 5, 5, 6, 9, 9, 10, 80, 100]

# Write a python program to do in the tuples.
    1- Manipulate using tuples.
    2- To add element to the end of the tuple.
    3- To reverse elemet in the tuple
    4- To display the elements of the same tuple multiple times.
    5- to sort the element in the list in asc order.

In [62]:
#1- Manipulate using tuples.
tuple = (1, 2, 3)
print(tuple)

(1, 2, 3)

In [64]:
# 2- To add element to the end of the tuple.
#my_tuple = (1, 2, 3)
element = 4
new_tuple = tuple + (element,)

print(new_tuple)

(1, 2, 3, 4)

In [69]:
# To reverse elemet in the tuple
reverse = new_tuple[::-1]
print(reverse)

(4, 3, 2, 1)

In [70]:
#4- To display the elements of the same tuple multiple times.
a= reverse*4
print(a)

(4, 3, 2, 1, 4, 3, 2, 1, 4, 3, 2, 1, 4, 3, 2, 1)

In [76]:
#5- To sort the element in the list in asc order.
tuple_ = (5, 2, 24, 3, 1, 6, 7)  
sorted_ = tuple(sorted(tuple_))  
print('Sorted Tuple :', sorted_)  
print(type(sorted_))

TypeError: 'tuple' object is not callable

# Write  a python program to omplementation the following using list
    1- create a lsit with the integer(Min. 10 numbers)
    2- How to display the last number.
    3- Command for displaying the values from the list [0:4]
    4- Command for display the values from the list [2:]
    5- Command for displaying the values  from the list [:6]

In [77]:
#1- create a lsit with the integer(Min. 10 numbers)
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [83]:
# 2- How to display the last number.
last_number = l[-1]
print(last_number)

10

In [84]:
#Command for displaying the values from the list [0:4]
a = l[0:4]
print(a)

[1, 2, 3, 4]

In [85]:
#Command for display the values from the list [2:]
a = l[2:]
print(a)

[3, 4, 5, 6, 7, 8, 9, 10]

In [86]:
# 5- Command for displaying the values  from the list [:6]
a = l[:6]
print(a)

[1, 2, 3, 4, 5, 6]

# write a python program:tuple1 = (10,50,20,40,30)
    1- To display element 10 and 50 from tuple1.
    2- To display length form tuple1.
    3- To find the minimum element form tuple1
    4- to add all the element in the tuple1.
    5- To display the same tuple1 multiples times.