# Q1: Manipulate using a list:
    1- To add new elements to the end of the list.
    2- To reverse element of the list.
    3- To display the same list of the element multiples times.
    4- To concatenate two list.
    5- To sort the element in the list in asecnding order.

In [1]:
#To add new elements to the end of the list

list = [1, 2, 3,5,6]  
element = 4
list.append(element)
print(list)

[1, 2, 3, 5, 6, 4]

In [2]:
#To reverse element of the list.
list.reverse()
print(list)

[4, 6, 5, 3, 2, 1]

In [3]:
#To display the same list of the element multiples times.
a = list*4
print(a)

[4, 6, 5, 3, 2, 1, 4, 6, 5, 3, 2, 1, 4, 6, 5, 3, 2, 1, 4, 6, 5, 3, 2, 1]

In [4]:
#To concatenate two list.
list1 = [1,2,10,9,5]
list2 = [6,5,3,9,4,80,100]
con = list1+list2
print(con)

[1, 2, 10, 9, 5, 6, 5, 3, 9, 4, 80, 100]

In [5]:
#To sort the element in the list in asecnding order.
con.sort()
print(con)

[1, 2, 3, 4, 5, 5, 6, 9, 9, 10, 80, 100]

# Q2: Write a python program to do in the tuples.
    1- Manipulate using tuples.
    2- To add element to the end of the tuple.
    3- To reverse elemet in the tuple
    4- To display the elements of the same tuple multiple times.
    5- to sort the element in the list in asc order.

In [6]:
#1- Manipulate using tuples.
tuple = (1, 2, 3,5)
print(tuple)

(1, 2, 3, 5)

In [7]:
# 2- To add element to the end of the tuple.
#my_tuple = (1, 2, 3)
element = 4
new_tuple = tuple + (element,)

print(new_tuple)

(1, 2, 3, 5, 4)

In [8]:
# To reverse elemet in the tuple
reverse = new_tuple[::-1]
print(reverse)

(4, 5, 3, 2, 1)

In [9]:
#4- To display the elements of the same tuple multiple times.
a= reverse*4
print(a)

(4, 5, 3, 2, 1, 4, 5, 3, 2, 1, 4, 5, 3, 2, 1, 4, 5, 3, 2, 1)

In [10]:
#5- To sort the element in the list in asc order.
tuple1 = (5, 2, 24, 3, 1, 6, 7)  
sorted1 = tuple(sorted(tuple1))  
print('Sorted Tuple :', sorted1)  
print(type(sorted1))

TypeError: 'tuple' object is not callable

# Q3: Write  a python program to omplementation the following using list
    1- create a lsit with the integer(Min. 10 numbers)
    2- How to display the last number.
    3- Command for displaying the values from the list [0:4]
    4- Command for display the values from the list [2:]
    5- Command for displaying the values  from the list [:6]

In [11]:
#1- create a lsit with the integer(Min. 10 numbers)
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
# 2- How to display the last number.
last_number = l[-1]
print(last_number)

10

In [25]:
#Command for displaying the values from the list [0:4]
a = l[0:4]
print(a)

[1, 2, 3, 4]

In [26]:
#Command for display the values from the list [2:]
a = l[2:]
print(a)

[3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
# 5- Command for displaying the values  from the list [:6]
a = l[:6]
print(a)

[1, 2, 3, 4, 5, 6]

# Q4: write a python program:tuple1 = (10,50,20,40,30)
    1- To display element 10 and 50 from tuple1.
    2- To display length form tuple1.
    3- To find the minimum element form tuple1
    4- to add all the element in the tuple1.
    5- To display the same tuple1 multiples times.

In [28]:
# 1- To display element 10 and 50 from tuple1
tuple1 = (10, 50, 20, 40, 30)
element_10 = tuple1[0]
element_50 = tuple1[1]

print("Element 10:", element_10)
print("Element 50:", element_50)

Element 10: 10
Element 50: 50

In [29]:
#2- To display length form tuple1.
len(tuple1)

5

In [12]:
#- To find the minimum element form tuple1
sorted_list = sorted(tuple1)
sorted_tuple = tuple(sorted_list)
print("Sorted Tuple:", sorted_tuple)

TypeError: 'tuple' object is not callable

In [13]:
#4- to add all the element in the tuple1
add = sum(tuple1)
print("Total :",add)

Total : 48

In [14]:
#5- To display the same tuple1 multiples times.
a = tuple1*4
print(a)

(5, 2, 24, 3, 1, 6, 7, 5, 2, 24, 3, 1, 6, 7, 5, 2, 24, 3, 1, 6, 7, 5, 2, 24, 3, 1, 6, 7)

# Q5: Write a python Program.
    1- To calculate the length of the string.
    2- To reverse the word in the string.
    3- To diaplay the same string multiple times.
    4- To concatenate two string.
    5- str1 = "South India", using string slicing to display "India".

In [15]:
#1- To calculate the length of the string.
string = 'Python Training'
length = len(string)
print(length)

15

In [34]:
# 2- To reverse the word in the string.
words = string.split()            # Split the string into words
reversed_words = words[::-1]         # Reverse the order of the words
reversed_string = ' '.join(reversed_words) # Join the reversed words back into a string

print("Original String:", string)
print("Reversed String:", reversed_string)

Original String: Python Training
Reversed String: Training Python

In [35]:
# 3- To diaplay the same string multiple times.
reverse  = string*4
print(reverse)

Python TrainingPython TrainingPython TrainingPython Training

In [36]:
# 4- To concatenate two string.
String1 = "Day1"
String2 = "Day2"
con = String1+String2
print(con)

Day1Day2

In [37]:
#5- str1 = "South India", using string slicing to display "India".
str1 = "South India"
india = str1[6:]
print(india)

India

# Q6: Perform the following:
        1- creating the dictionary.
        2- Accessing values and keys in the Dictionary.
        3- Updating the dictionary using a function
        4- Clear and delete the dictionary value

In [ ]:
#1- creating the dictionary.
dict = {
    "name": "ANUBHAV",
    "age": 24,
    "city": "Pune"
}
print(dict)

In [ ]:
#2- Accessing values and keys in the Dictionary.
name_value = dict["name"]
age_value = dict["age"]
city_value = dict["city"]

print("Name:", name_value)
print("Age:", age_value)
print("City:", city_value)

In [ ]:
#3:3- Updating the dictionary using a function
def update_dict(input_dict):

    input_dict["name"] = "Mphasis"       #Update the values of the dictionary within the function
    input_dict["age"] = 25
    input_dict["city"] = "Noida"

update_dict(dict)
print(dict)

In [ ]:
#  4- Clear and delete the dictionary value
dict.clear()
print(dict)

# Q7:Python Program to insert a number to any position in a list.

# list = [1, 2, 3, 4, 5]
number_insert = 99
position = 2

list.insert(position, number_insert)

print("Updated List:", list)

# Q8: Python program to delete the element froma list by index.

In [16]:
del list[2]
print(list)

[4, 6, 3, 2, 1]

# 9.write a program to display a number from 1 to 100.

In [2]:
#  to display numbers from 1 to 100
for number in range(1, 101):
    print(number,end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# 10.write a Python program to find the sum of all items in a tuple.

In [3]:
my_tuple = (1, 2, 3, 4, 5)
sum_of_items = 0
for item in my_tuple:
    sum_of_items += item
print("Sum of Items:", sum_of_items)

Sum of Items: 15

# 11. Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes

In [1]:
days_in_month = 30
hours_in_day = 24

minutes_in_hour = 60
seconds_in_minute = 60

seconds_in_30_days = days_in_month * hours_in_day * minutes_in_hour * seconds_in_minute
print("Number of seconds in a 30-day month:", seconds_in_30_days)

Number of seconds in a 30-day month: 2592000

# 12. A list of words is given. Find the words from the list that have their second character in uppercase.

In [2]:
words_list = ['hello', 'Dear', 'how', 'ARe', 'You']
result_words = []
for word in words_list:
    if word[1].isupper():
        result_words.append(word)
print("Words with the second character in uppercase:")
print(result_words)

Words with the second character in uppercase:
['ARe']

# 12. Write a program in python to print out the number of seconds in a year

In [6]:
days_in_year = 365
seconds_in_a_year = days_in_year * hours_in_day * minutes_in_hour * seconds_in_minute
print("Number of seconds in a year:", seconds_in_a_year)

Number of seconds in a year: 31536000

# 13. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions)Formula wMoon = (wEarth * GMoon) / GEarth Weight of people in kg Weight On Earth = ['John':45, 'Shelly':65, 'Marry':35)Gravitational force on the Moon: 1.622 m/s2GMoon = 1.622 Gravitational force on the Earth: 9.81 m/s2 GEarth = 9.81

In [3]:
weight_on_earth = {'John': 45, 'Shelly': 65, 'Marry': 35}
GMoon = 1.622  
GEarth = 9.81  
weights_on_moon = list(map(lambda w: (w * GMoon) / GEarth, weight_on_earth.values()))
weight_on_moon = dict(zip(weight_on_earth.keys(), weights_on_moon))
print("Weights on the Moon:")
for name, weight in weight_on_moon.items():
    print("{}: {} kg".format(name,weight))

Weights on the Moon:
John: 7.440366972477065 kg
Shelly: 10.747196738022426 kg
Marry: 5.786952089704383 kg

# Control Structures :

# 1. Write a python program to find the first N Prime numbers.

# def isPrime(n):
    if n <= 1:
        return False

    for i in range(2, n):
        if n % i == 0:
            return False

    return True
N = int(input("Enter the value of 'N': "))
for i in range(2, N + 1):
    if isPrime(i):
        print(i, end=" ")

# 2. Wite the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, and DA. Add these components to calculate the Gross Salary. Also, deduct 10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary.

In [5]:
basic_salary = float(input("Enter Basic Salary: "))
hra = int(input("Enter HRA: "))
ta = int(input("Enter TA: "))
da = int(input("Enter DA: "))

gross_salary = basic_salary + hra + ta + da

tax = 0.10 * gross_salary

net_salary = gross_salary - tax

print("Gross Salary: {}".format(gross_salary))
print("Tax: {}".format(tax))
print("Net Salary: {}".format(net_salary))

Enter Basic Salary: 200
Enter HRA: 1340
Enter TA: 359
Enter DA: 990
Gross Salary: 2889.0
Tax: 288.90000000000003
Net Salary: 2600.1

# 3. Write a python program to search for a string in the given list.

In [6]:
string_list = ["apple", "banana", "cherry", "date", "grape"]
search_string = input("Enter the string to search for: ")
found = False

for s in string_list:
    if search_string.lower() == s.lower():
        found = True
        break

if found:
    print("The string '{}' was found in the list.".format(search_string))
else:
    print("The string '{}' was not found in the list.".format(search_string))

Enter the string to search for: apple
The string 'apple' was found in the list.

# 4. Write a Python function that accepts a string and calculates the number of upper-case letters and lower-case letters.

In [8]:
def count_upper_and_lower_case_letters(input_string):
    uppercase_count = 0
    lowercase_count = 0

    for char in input_string:
        if char.isupper():
            uppercase_count += 1
        elif char.islower():
            lowercase_count += 1

    return uppercase_count, lowercase_count

user_string = input("Enter a string: ")

uppercase, lowercase = count_upper_and_lower_case_letters(user_string)

print("Uppercase letters: {}".format(uppercase))
print("Lowercase letters: {}".format(lowercase))

Enter a string: Anubhav
Uppercase letters: 1
Lowercase letters: 6

# 5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [9]:
even_sum = 0
odd_sum = 0

for num in range(12, 38):
    if num % 2 == 0:
        even_sum += num 
    else:
        odd_sum += num 

print("Sum of even numbers between 12 and 37: {}".format(even_sum))
print("Sum of odd numbers between 12 and 37: {}".format(odd_sum))

Sum of even numbers between 12 and 37: 312
Sum of odd numbers between 12 and 37: 325

# 6  Write a python Program to print the table of any number.

In [10]:
num = int(input("Enter a number to print its multiplication table: "))

table_range = range(1, 11)

print("Multiplication table for {}:".format(num))
for i in table_range:
    result = num * i
    print("{} x {} = {}".format(num,i,result))

Enter a number to print its multiplication table: 2
Multiplication table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

# 7.Write a Python program to sum the first 10 prime numbers.

In [11]:
count_primes = 0
sum_primes = 0
num = 2 

def is_prime(n):
    if n <= 1:
        return False

    for i in range(2, n):
        if n % i == 0:
            return False

    return True

while count_primes < 10:
    if is_prime(num):
        sum_primes += num
        count_primes += 1
    num += 1

print("The sum of the first 10 prime numbers is: {}".format(sum_primes))

The sum of the first 10 prime numbers is: 129

# 8. Write a python program to implement arithmetic operations using nested if statement.

In [12]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the operation (+, -, *, /): ")

result = None

if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 == 0:
        print("Error: Division by zero is not allowed.")
    else:
        result = num1 / num2
else:
    print("Invalid operation!")

if result is not None:
    print("Result: {}".format(result))

Enter the first number: 2
Enter the second number: 3
Enter the operation (+, -, *, /): +
Result: 5.0

# 9. Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.

In [13]:
celsius = float(input("Enter the temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("The temperature in Fahrenheit is: {}°F".format(fahrenheit))

Enter the temperature in Celsius: 298
The temperature in Fahrenheit is: 568.4°F

# 10. Write a python program to find a maximum and minimum number in a list without using an inbuilt function

In [1]:
numbers = input("Enter a list of numbers separated by spaces: ").split()

numbers = [int(num) for num in numbers]

max_num = numbers[0]
min_num = numbers[0]

for num in numbers:
    if num > max_num:
        max_num = num
    if num < min_num:
        min_num = num

print("Maximum number: {}".format(max_num))
print("Minimum number: {}".format(min_num))

KeyboardInterrupt: Interrupted by user

# 11. Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute.

In [2]:
days_in_month = 30
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

seconds_in_30_days = days_in_month * hours_in_day * minutes_in_hour * seconds_in_minute
print("Number of seconds in a 30-day month:", seconds_in_30_days)

Number of seconds in a 30-day month: 2592000

# 12. Write a program in python to print out the number of seconds in a year

In [3]:
days_in_year = 365
seconds_in_a_year = days_in_year * hours_in_day * minutes_in_hour * seconds_in_minute
print("Number of seconds in a year:", seconds_in_a_year)

Number of seconds in a year: 31536000

# 13. A high-speed train can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away?

In [7]:
average_speed_mph = 150
distance_in_miles = 414

time_hours = distance_in_miles / average_speed_mph
print("Time to travel from London to Glasgow:", time_hours, "hours")

Time to travel from London to Glasgow: 2.76 hours

# 14. Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year-192

In [8]:
days_in_each_school_year = 192
total_hours_in_school = (11 - 7 + 1) * days_in_each_school_year * 6

print("Total hours spent in school from year 7 to year 11:", total_hours_in_school, "hours")

Total hours spent in school from year 7 to year 11: 5760 hours

# 15 if the age of Ram,Sam and Khan are input through the determine the eldest and youngest of the three. keyboard,write a python program

In [9]:
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

ages = [ram_age, sam_age, khan_age]
oldest = max(ages)
youngest = min(ages)

print("Oldest:", oldest, "years old")
print("Youngest:", youngest, "years old")

Enter Ram's age: 2
Enter Sam's age: 5
Enter Khan's age: 8
Oldest: 8 years old
Youngest: 2 years old

# 16. Write a python program to rotate a list by right n times with and without slicing technique.

In [10]:
# using slicing 
def rotate_list_with_slicing(lst, n):
    n %= len(lst)
    return lst[-n:] + lst[:-n]

original_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = rotate_list_with_slicing(original_list, n)
print("Original List:", original_list)
print("Rotated List with Slicing:", rotated_list)

Original List: [1, 2, 3, 4, 5]
Rotated List with Slicing: [4, 5, 1, 2, 3]

In [11]:
# without using slicing
def rotate_list_without_slicing(lst, n):
    n %= len(lst)
    for _ in range(n):
        last_element = lst.pop()
        lst.insert(0, last_element)
    return lst

original_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = rotate_list_without_slicing(original_list, n)
print("Original List:", original_list)
print("Rotated List without Slicing:", rotated_list)

Original List: [4, 5, 1, 2, 3]
Rotated List without Slicing: [4, 5, 1, 2, 3]

# 17 .Python program to print the patterns given below:

In [12]:
def print_pascal_triangle(size):
    for i in range(0, size):
        for j in range(0, i + 1):
            print(decide_number(i, j), end=" ")
        print()
def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num
rows = 7
print_pascal_triangle(rows)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [13]:
x=int(input("Enter row number= \n"))
for i in range(x):
    for j in range(i+1):
        print("#",end='')
    print("")

Enter row number=
4
#
##
###
####

In [14]:
def triangle(n):
    k = n - 1
    for i in range(0, n):
        for j in range(0, k):
            print(end=" ")
        k = k - 1
        for j in range(0, i+1):
            print("* ", end="")
        print("\r")
n = 7
triangle(n)

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *